.outer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile{
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
    min-width:19%;
    min-height: 50%;
    position:fixed;
    top: 3%;
    right: 8%;
    display: flex;
    padding: 2%;
    overflow: auto; 
   z-index: 10;
}

.shortct-links{
    display: flex;
    flex-direction: column;
    gap: 1%;
    
}

.profiletop{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: fit-content;
  
    cursor: pointer; 
}
.profilephoto{
    display: flex;
    flex-direction: row;
}
.profileleftside{
    display: flex;
    flex-direction: column;
    padding: 0 10px
    
}
.sidelink{
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    cursor: pointer; 
    &:hover{
        background-color: #ebeaea;
    }  
}
.sidelink p{
    margin-left: 12px;
    
}
.profile hr{
    border:0;
    height: 1px;
    background: #ccc;
    width:auto;
    margin: 2% 0;

}

/* .sidelink:hover{
    background-color: #ebeaea;
    border-radius: 5px;
    padding: 10px;
    width:auto;
    margin-right: 6px;
    transform: all 0.5s;
    margin-left: -10%;
    padding-left: 10%;
} */
