
.profile{
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
    width:19%;
    height: 90%;
    position:fixed;
    padding-top: 1%;
    padding-left: 2%;
    margin-top: 0.5%;
    margin-left: 80.3%;
    overflow: auto; 
   
}


.shortct-links img{
   
}
.user{
    margin-top: -12%;
    margin-left: 20%;
}
.viewurchannel{
    
    margin-left: 20%;
}
.sidelink{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;   
}
.sidelink p{
    margin-left: 12px;
    
}
.profile hr{
    border:0;
    height: 1px;
    background: #ccc;
    width: auto;
    margin-left: -12%;
    margin-bottom: 20px;

}

.sidelink:hover{
    background-color: #ebeaea;
    border-radius: 5px;
    padding: 10px;
    width:auto;
    margin-right: 6px;
    transform: all 0.5s;
    margin-left: -10%;
    padding-left: 10%;
}