 .card{
    width:100vw;
    height: 100vh;
}
.card .imgg{
    width: 1000px;
    height: auto;
    border-radius: 5px;
}
.card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin:5px 0;
}
.card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
    
}
.card p{
    font-size: 14px;
    color: #5a5a5a;
} 