/* img{
    width: 50px;
    height: 50px;
} */
.searchicon{
    width: 24px;
    height: 23px;
}
.voice-searchicon{
    width:25px;
    height: 25px;
}
.button-voicesearch{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border-style: none;
}

.button-voicesearch:hover{
    background: rgb(195, 194, 194);
}

nav{
    padding: 10px 2%;
    justify-content: space-between; 
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    background: #fff;
    position: sticky;
    top: 0; 
    z-index: 10;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width:130px;
}

.nav-middle .search-div{
    border:1px solid #ccc;
    margin-right:15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-div input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-div img{
    width:15px
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .profileicon{
    width:35px;
    height: 35px;
}
.nav-right .searchicon{
   display: none;
}