
.sidebar{
    background: #fff;
    min-width:15.6%;
    height: 100vh;
    position:fixed;
    top:0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding:85px 15px 15px 15px;
    overflow: auto;
    scrollbar-width: thin;
}
.small-sidebar{
    width:5%;
    
}
.small-sidebar p{
    display: none;
}
.small-sidebar .subscrptions{
    display: none;
}
.small-sidebar .shortcut-links hr{
    display: none;
}

.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}
.sidelinks{  
    flex-wrap: wrap;
    cursor: pointer; 
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    &:hover{
        background-color: #ebeaea;
        border-radius: 5px;
    }  
}
.sidebar .shortcut-links hr{
    border:0;
    height: 1px;
    margin-top: 1rem;
    padding: auto;
    background: #ccc;
    width: 90%;
}
.subscrptions h3{
  margin: 20px 0;
  font-size: 13px;
  color: #5a5a5a;
}
.subscrptions img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
/* .sidelinks:hover{
    background-color: #ebeaea;
    border-radius: 5px;
    padding: 10px;
    width:auto;
    margin-right: 6px;
    transform: all 0.5s;
    margin-left: -15%;
    text-align: center;
    padding-left: 15%;

} */
@media(max-width:1000px) {
    .sidebar{
        display: none;
     
    }
    
}

/* p:hover{
    text-decoration: underline;
} */